#about{
    width: 100%;
    height: 100%;
    display: flex;

    
}
.AZU{
    padding: 15px;
    margin-left: 10%;
    height: 200px;
    width: 80%;
    box-shadow: 0 10px 25px   rgb(116, 201, 225);
    border-radius: 30px;
}
.AZU h1{
   
    background: linear-gradient(to right, rgb(198,42,96), white);
    background-clip: text;
    color: transparent;

}
.AZU h3 {
    color: white;
}
.leftabout{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.circle-line{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circle{
    width: 62px;
    height: 62px;
    border-radius: 50px;
    background-color: aliceblue;
    background-color: #7ad7ea;
    box-shadow: 2px 2px 20px #7ad7ea;;
}
.line{
    width: 2px;
    height: 140px;
    background-color: aliceblue;

}
.aboutdetails{
    display: flex;
    gap: 40px;
    flex-direction: column;

}
.aboutdetails h1{
    list-style: none;
    background: linear-gradient(to right, rgb(198,42,96), white);
    background-clip: text;
    color: transparent;
}
.aboutdetails li{
    color: white;
    list-style: none;
}
.aboutdetails span{
    color: #7ad7ea;
}
.rightabout{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
 @media(max-width: 750px){
    #about{
        flex-direction: column;

    }
    .leftabout{
        width: 100%;
        
       
        justify-content: center;
    }
    .rightabout{
        width: 100%;
        
        justify-content: center;
    }
    .line{
    width: 2px;
    height: 160px;
    background-color: aliceblue;

}
 }